* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.root {
  background: #2a2c2f;
}

.page {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 28px 0 24px;
  background-color: #2a2c2f;
  color: white;
  margin: 0 auto;
}

.hover__link:hover {
  opacity: 0.8;
  cursor: pointer;
}

.page__intro {
  margin: 92px 0 92px;
}

@media screen and (max-width: 800px) {
  .page__intro {
    margin: 88px 0;
  }
}

.page__footer {
  margin-top: 92px;
}

@media screen and (max-width: 700px) {
  .page {
    padding: 28px 0 24px;
  }

  .page__intro {
    margin: 64px 0;
  }
}

.page__footer {
  margin-top: 92px;
}
