.intro {
  max-width: 690px;
  width: 100%;
  align-self: flex-start;
}

.intro__title {
  width: 100%;
  line-height: 58px;
  font-size: 54px;
  font-weight: 900;
}

.intro__text {
  width: 100%;
  margin: 40px 0 33px;
  line-height: 16px;
  font-size: 16px;
  font-weight: 400;
}

.intro__list {
  width: 100%;
}

.intro__list-text {
  line-height: 18px;
  font-size: 12px;
  font-weight: 700;
}

.intro__list-number {
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
}
